form(class='create-task')
            div.taskContainer
                input(type='hidden' name='_csrf' value=csrfToken)
                label.descripLabel(for="description")
                input.descrip(type="text", placeholder="Add a task...", id="description", name="description" required=true)
                //- textarea(name="description", cols="30", rows="10")
                label.dueDateLabel(for="dueDate") Due Date
                input.dueDate(type="date", id="dueDate", name="dueDate" required=true)
                label.isCompletedLabel(for="isCompleted") Completed?
                input.isCompleted(type="checkbox", id="checkbox", name="isCompleted")
                label.contactsLabel(for="givenTo") Contacts
                //- select(id="givenTo", name="givenTo")
                //-     option(value="" selected)
                //-     each contact in contactsAll
                //-         option(value=contact.username)= contact.username
                button.createTaskButton(type='submit') Create Task
