//- extends layout

//- include utils

//- block content
//-     +validationErrorSummary(errors)
//-     div.form_error
//-     form.contacts-form
//-         input(type='hidden' name='_csrf' value=csrfToken)
//-         +field('Email Address', 'email', user.email)
//-         div
//-             button(type='submit') Add Contact
//-         div
//-             a(href='/app') Cancel
//-     script(type="module" src="javascripts/contact.js")
