extends layout

append head
    link(rel="stylesheet" href="/stylesheets/app.css")
    //- script(src="/javascripts/index.js" type="module" defer)

block content
    .page
        nav.navbar
            input.navbar#searchBar(type="text", placeholder="Search here")
            div.navbar#notifications Notifications
            div.navbar#settings Settings
            button.navbar#logout(type='submit') Logout
        div.sidebar
            ul Inbox
                //- li All Tasks
                //- li Today
                //- li Tomorrow
                //- li This Week
                //- li Given to Others
            ul Lists
            ul Contacts
        div.tabbedContainer
            div.tabbedGroup
                a.tabbedLink#incomplete Incomplete
                a.tabbedLink#complete Complete
        include includes/add-task
        .task-list

    script(type="module" src="javascripts/app.js")
