extends layout

append head
    link(rel="stylesheet" href="/stylesheets/app.css")
    script(src="../javascripts/app.js" type="module" defer)

    //- img.navbar#settingsGear(src="../images/gear.png")


block content
    .page
        nav.navbar
            input.navbar#searchBar(type="text", placeholder="Search here...")
            div.navbar#notifications Notifications
            div.navbar#settings Settings
                div.settingGroup.settingHide
                    div.settingHeaderGroup
                        img.settingHeader#userProfile(src="../images/favicon.png")
                        div.settingHeader#userName= locals.currUser.username
                        //- div.settingHead#userEmail= locals.currUser.email
                    ul.settingListGroup
                        li.settingList: a(href='/#') Help
                        li.settingList: a(href='/#') Keyboard shortcuts
                        li.settingList: a(href='/#') Account Settings
                        li.settingList: button#signOut(type='submit') Sign Out
            //- button.navbar#logout(type='submit') Logout
        div.sidebar
            ul Inbox
                //- li All Tasks
                //- li Today
                //- li Tomorrow
                //- li This Week
                //- li Given to Others
            ul Lists
            ul Contacts
        div.tabbedContainer
            div.tabbedGroup
                a.tabbedLink#incomplete Incomplete
                a.tabbedLink#complete Complete
        include includes/add-task
        .task-list
        .fiona
        .tanner
        .tanner
    script(type="module" src="javascripts/app.js")
