extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  nav.navbar
    div.container
      a.nav-logo
      ul.navlist
        li Tour
        li What's New
        li Upgrade
        li Help
        li Log in
        li
          a.btn(href='/signup') Sign up for free
    main.main
      header.main-header
        .main-container
          h1 The smart to-do app for busy people.
          a.hero-btn Sign Up Free
    section.main-content
      article.main-article
