extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  nav.navbar
    div.container
      a.nav-logo
      ul.navlist
        li Tour
        li What's New
        li Upgrade
        li Help
        li
          a(href='/users/login') Log in
        li
          a.btn(href='/users/signup') Sign up for free
    main.main
      header.main-header
        .main-container
          h1 The smart to-do app for busy people.
          a.hero-btn(href='/users/signup') Sign Up Free
    section.main-content
      article.main-article
        div.hero-image
          div.inner-image
          h2.hero-header Get to-dos out of your head.
          p.hero-p Stop thinking about your to-dos, and let the app remember for you.
    footer
      div.footer
        small.copyright © 2021 Gotta Latte Do
