extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.mainPage
    nav.navbar
      a.nav-logo(href="/")
        //- img.nav-logo-first(src='../images/favicon.png')
        img.nav-logo-img(src='../images/logo-text.png')
      ul.navlist
        li.sublist Tour
        li.sublist What's New
        li.sublist Upgrade
        li.sublist Help
        li.mainlist
          a.btn-login(href='/users/login') Log in
        li.mainlist
          a.btn(href='/users/signup') Sign up for free
    main.main
      div.hero-image
        img.inner-image(src='../images/maybe-logo-3.png')
        div.text-under-inner-img
          p.hero-header Get to-dos out of your head.
          p.hero-p Stop thinking about your to-dos, and let us remember for you.
      header.main-header
          h1 The smart to-do app for busy people.
          a.hero-btn(href='/users/signup') Sign Up Free
    div.footer
      small.copyright © 2021 Gotta Latte Do
      small.names
        ul.creators
          li
            a.creator(href='https://github.com/choi-jihoon' target="_blank") Fiona
          li
            a.creator(href='https://github.com/strewm' target="_blank") Savanah
          li
            a.creator(href='https://github.com/JTannerShaw' target="_blank") Tanner
          li
            a.creator(href='https://github.com/katsutori' target="_blank") Thien
