extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.mainPage
    nav.navbar
      div.navbar-container
        a.nav-logo(href="/")
          img.nav-logo-img(src='../images/gottalattedologo_coffee.png')
        ul.navlist
          li.mainlist
            a.btn-login(href='/users/login') Log in
          li.mainlist
            a.btn(href='/users/signup') Sign up for free
    div.main-header
      h1 A To-Do App Made Espresso-ly For You
      a.signup-btn(href='/users/signup') Sign Up Free
    main.main-carousel
      div.slides-container
          div.slides(style="display:none")
            img.first-image(src='../images/1-maybe-logo.png')
            div.text-under-inner-img
              p.slide-header Gotta Latte Do? We'll keep you grounded.
              p.slide-text You'll never say 'affogato do that!' again
          div.slides(style="display:none")
            img.second-image(src='../images/2-coffee-break.png')
            div.text-under-inner-img
              div.slide-header Bean busy? Make a to-brew list.
              div.slide-text Never be bitter about missing a roast again
          div.slides(style="display:none")
            img.third-image(src='../images/3-coffee-network.png')
            div.text-under-inner-img
              div.slide-header Tired of notepads? You'll love our brew-tiful design.
              div.slide-text We're meant to bean together!
          a.left-button(onclick="changeSlide(-1)") &#8610;
          a.right-button(onclick="changeSlide(1)") &#8611;
      div.circle-butts
        span.circle(onclick="currSlide(1)")
        span.circle(onclick="currSlide(2)")
        span.circle(onclick="currSlide(3)")
    div.footer
      small.names
        ul.creators
          li.creator
            .aboutme Fiona
            a.aboutmelink(href='https://github.com/choi-jihoon' target="_blank") Github
            a.aboutmelink(href='https://www.linkedin.com/in/jihoon-choi-a6967a221/' target="_blank") LinkedIn
          li.creator
            .aboutme Savanah
            a.aboutmelink(href='https://github.com/strewm' target="_blank") Github
            a.aboutmelink(href='https://www.linkedin.com/in/savanah-trewman/' target="_blank") LinkedIn
          li.creator
            .aboutme Tanner
            a.aboutmelink(href='https://github.com/JTannerShaw' target="_blank") Github
            a.aboutmelink(href='https://www.linkedin.com/in/tanner-shaw-a25702162/' target="_blank") LinkedIn
          li.creator
            .aboutme Thien
            a.aboutmelink(href='https://github.com/katsutori' target="_blank") Github
            a.aboutmelink(href='https://www.linkedin.com/in/thien-dang-ct/' target="_blank") LinkedIn
      small.copyright
        .copyright-year © 2021 |!{' '}
          a(href='https://github.com/strewm/Gotta-Latte-Do' target="_blank") Gotta Latte Do
