extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div.mainPage
    nav.navbar
      div.navbar-container
        a.nav-logo(href="/")
          img.nav-logo-img(src='../images/gottalattedologo_coffee.png')
        ul.navlist
          li.mainlist
            a.btn-login(href='/users/login') Log in
          li.mainlist
            a.btn(href='/users/signup') Sign up for free
    main.main
      div.hero-image
        img.inner-image(src='../images/maybe-logo-3.png')
        div.text-under-inner-img
          p.hero-header Gotta Latte Do? We'll keep you grounded.
          p.hero-p You'll never say 'affogato do that!' again
      header.main-header
          h1 A To-Do App Made Espresso-ly For You
          a.hero-btn(href='/users/signup') Sign Up Free
    div.footer
      small.names
        ul.creators
          li.creator
            .aboutme Fiona
            a.aboutmelink(href='https://github.com/choi-jihoon' target="_blank") Github
            a.aboutmelink(href='https://www.linkedin.com/in/jihoon-choi-a6967a221/' target="_blank") LinkedIn
          li.creator
            .aboutme Savanah
            a.aboutmelink(href='https://github.com/strewm' target="_blank") Github
            a.aboutmelink(href='https://www.linkedin.com/in/savanah-trewman/' target="_blank") LinkedIn
          li.creator
            .aboutme Tanner
            a.aboutmelink(href='https://github.com/JTannerShaw' target="_blank") Github
            a.aboutmelink(href='https://www.linkedin.com/in/tanner-shaw-a25702162/' target="_blank") LinkedIn
          li.creator
            .aboutme Thien
            a.aboutmelink(href='https://github.com/katsutori' target="_blank") Github
            a.aboutmelink(href='https://www.linkedin.com/in/thien-dang-ct/' target="_blank") LinkedIn
      small.copyright
        .copyright-year © 2021 |!{' '}
          a(href='https://github.com/strewm/Gotta-Latte-Do' target="_blank") Gotta Latte Do
