extends layout

append head
  script(src="/javascripts/demo.js" type="module" defer)
  link(rel="stylesheet" href="/stylesheets/user-login.css")

include utils

block content
  div.mainPage
    div.header
      a.header-logo(href="/")
        img.header-logo-img(src='../images/logo-text.png')
      a.sign-up-btn(href="/users/signup") Sign up for free
    +validationErrorSummary(errors)
    form(action='/users/login' method='post')
      div.sign-up
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email Address', 'email', email)
        +field('Password', 'password', null, 'password')
        div
          button(type='submit') Login
          a(href='/') Cancel
    div.footer
      button(type='submit' class='demo-user') Demo User
      p: a(href='/users/signup') Don't have an account?
