extends layout

include utils

append head
  script(src="/javascripts/demo.js" type="module" defer)

block content
    +validationErrorSummary(errors)
    form(action='/users/signup' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Username', 'username', user.username)
        +field('Email Address', 'email', user.email)
        +field('Password', 'password', user.password, 'password')
        +field('Confirm Password', 'confirmPassword', '', 'password')
        div
            button(type='submit') Sign Up
            a(href='/') Cancel
        div
            button(type='submit' class='demo-user') Demo User
            p: a(href='/users/login') Already have an account?
