/* %%%%%%%%%%%%%%%%% Main page grid layout  %%%%%%%%%%%%%%%%% */
a {
    text-decoration: none;
}

.mainPage {
    display: grid;
    grid-template-rows: 0.5fr 8fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";

    height: 100vh;

    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* %%%%%%%%%%%%%%%%% Navbar (header) layout  %%%%%%%%%%%%%%%%% */
.navbar {
    grid-area: header;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #8A715B;
    color: cornsilk;
    padding: 5px;
    line-height: 20px;
    font-size: 15px;
}

.navbar-container {
    width: 890px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

/* .nav-logo-first {
    width: 50x;
    height: auto;
    margin: 15px;
    margin-left: 50px;
} */

.nav-logo-img {
    width: 150px;
    height: auto;

}

.navlist {
    display: flex;
    align-items: center;

}

/* Navbar items */
li {
    list-style: none;
    padding: 5px;
    margin: 10px;
}

/* Navbar item non-links  */
.sublist {
    color: #c7cdcf;
    cursor: not-allowed;
}

/* Login navbar button/link  */
.btn-login {
    border: 1px solid cornsilk;
    padding: 10px;
    border-radius: 5px;
}

.btn-login:hover {
    border: 1px solid cornsilk;
    background-color: cornsilk;
    color: #8A715B;
}

.btn-login:active {
    border: 1px solid #cab699;
    box-shadow: inset 0 0 10px #cab699;
}

/* Sign-up navbar button/link  */
.btn {
    border: 1px solid cornsilk;
    padding: 10px;
    border-radius: 5px;
    background-color: cornsilk;
    color: #8A715B;
}

.btn:hover {
    border: 1px solid #eddcc5;
    background-color: #eddcc5;
}

.btn:active {
    border: 1px solid #cab699;
    box-shadow: inset 0 0 10px #cab699;
}



/* %%%%%%%%%%%%%%%%% Main content layout  %%%%%%%%%%%%%%%%% */
.main {
    grid-area: main;
    background-color: #E0A979;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-image {
    margin: 65px 50px 50px 50px;
    width: 500px;
    height: auto;
}

.text-under-inner-img, .hero-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: cornsilk;
}

.hero-header {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.hero-p {
    margin: 5px;
    font-size: 18px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

h1 {
    color: cornsilk;
    font-size: 40px;
}

.hero-btn {
    border: 1px solid #b2db83;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    background-color: #b2db83;
    color: cornsilk;
    font-weight: bold;
}

.hero-btn:hover {
    border: 1px solid #a6cc7a;
    background-color: #a6cc7a;
}

.hero-btn:active {
    border: 1px solid #97b96f;
    box-shadow: inset 0 0 15px #97b96f;
}


/* %%%%%%%%%%%%%%%%% Footer layout  %%%%%%%%%%%%%%%%% */
.footer {
    grid-area: footer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: cornsilk;

    color: #87b9d6;
}

.creators {
    display: flex;
    justify-content: space-around;
    width: 80vh;
}

.creator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutmelink {
    font-size: 0.75rem;
}

.copyright {
    display: flex;

}





/* %%%%%%%%%%%%%%%%% MEDIA QUERIES  %%%%%%%%%%%%%%%%% */
/*
When page reaches 815px in width:
    - hide the sublist items in navbar
    - change size of main logo image
    - change text font sizes
*/
@media (max-width: 815px) {
    .sublist {
        display: none;
    }
}

@media (max-width: 700px) {
    .inner-image {
        margin: 50px 78px 35px 78px;
        width: 400px;
        height: auto;
    }

    .hero-header {
        margin: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    .hero-p {
        margin: 5px;
        font-size: 13px;
    }

    h1 {
        color: cornsilk;
        font-size: 30px;
    }
}

@media (max-width: 400px), screen and (orientation: portrait) {
    .mainPage {
        display: grid;
        grid-template-rows: 2fr 10fr 2fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    .sublist {
        display: none;
    }


    .header {
        font-size: 3rem;
    }

    .inner-image {
        margin: 50px 78px 35px 78px;
        width: auto;
        height: auto;
    }



    h1 {
        color: cornsilk;
        font-size: 40px;
    }

    .navbar-container {
        width: 75%
    }

}
