/* %%%%%%%%%%%%%%%%% Main page grid layout  %%%%%%%%%%%%%%%%% */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.mainPage {
    display: grid;
    grid-template-rows: 0.5fr 1fr 8fr 1.5fr;
    grid-template-areas:
    "header"
    "main-header"
    "main"
    "footer";

    height: 100vh;

    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* %%%%%%%%%%%%%%%%% Navbar (header) layout  %%%%%%%%%%%%%%%%% */
.navbar {
    grid-area: header;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #8A715B;
    color: cornsilk;
    padding: 5px;
    line-height: 20px;
    font-size: 15px;
}

.navbar-container {
    /* width: 890px; */
    width: 70%;
    max-width: 975px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

/* .nav-logo-first {
    width: 50x;
    height: auto;
    margin: 15px;
    margin-left: 50px;
} */

.nav-logo-img {
    width: 150px;
    height: auto;
}

.navlist {
    display: flex;
    align-items: center;
}

/* Navbar items */
li {
    list-style: none;
    padding: 5px;
    margin: 10px;
}

/* Navbar item non-links  */
.sublist {
    color: #c7cdcf;
    cursor: not-allowed;
}

/* Login navbar button/link  */
.btn-login {
    border: 1px solid cornsilk;
    padding: 10px;
    border-radius: 5px;
}

.btn-login:hover {
    border: 1px solid cornsilk;
    background-color: cornsilk;
    color: #8A715B;
}

.btn-login:active {
    border: 1px solid #cab699;
    box-shadow: inset 0 0 10px #cab699;
}

/* Sign-up navbar button/link  */
.btn {
    border: 1px solid cornsilk;
    padding: 10px;
    border-radius: 5px;
    background-color: cornsilk;
    color: #8A715B;
}

.btn:hover {
    border: 1px solid #eddcc5;
    background-color: #eddcc5;
}

.btn:active {
    border: 1px solid #cab699;
    box-shadow: inset 0 0 10px #cab699;
}



/* %%%%%%%%%%%%%%%%% Main header layout  %%%%%%%%%%%%%%%%% */
.main-header {
    grid-area: main-header;
    background-color: #E0A979;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 30px; */
}

h1 {
    color: cornsilk;
    font-size: 35px;
    margin: 50px 0 35px 0;
}

.signup-btn {
    border: 1px solid #b2db83;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    background-color: #b2db83;
    color: cornsilk;
    font-weight: bold;
}

.signup-btn:hover {
    border: 1px solid #a6cc7a;
    background-color: #a6cc7a;
}

.signup-btn:active {
    border: 1px solid #97b96f;
    box-shadow: inset 0 0 15px #97b96f;
}



/* %%%%%%%%%%%%%%%%% Main carousel layout  %%%%%%%%%%%%%%%%% */
.main-carousel {
    grid-area: main;
    background-color: #E0A979;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    /* height: 100%; */
}

.slides-container {
    max-width: 800px;
    position: relative;
}

/* Hiding slides initially */
.slides {
    display: none;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

/* .first-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 60%; */
    /* height: 100%; */
/* } */

/* Left + right buttons */
.left-button, .right-button {
    /* position: absolute; */
    top: 50%;
    width: auto;
    padding: 15px;
    margin-top: -50px;
    font-size: 30px;
    color: #FFF8DC;

    user-select: none;
    cursor: pointer;
}

/* .right-button {
    right: 0;
} */

.left-button:hover, .right-button:hover {
    font-size: 35px;
}

/* Circle buttons under carousel */
.circle-butts {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.circle {
    border-radius: 50px;
    border: none;
    margin: 5px;
    padding: 7px;
    background: rgba(255, 248, 220, 0.6);

    transition: background 0.2s ease;
    cursor: pointer;
}

.circle:hover {
    background: rgba(211, 205, 176, 0.8);
}



/* %%%%%%%%%%%%%%%%% Slide layout  %%%%%%%%%%%%%%%%% */
.first-image {
    margin: 50px;
    /* width: 500px; */
    width: 70%;
    height: auto;
}

.text-under-inner-img, .slide-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: cornsilk;
    margin: 10px;
}

.slide-header {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.slide-text {
    margin: 5px;
    font-size: 18px;
}



/* %%%%%%%%%%%%%%%%% Footer layout  %%%%%%%%%%%%%%%%% */
.footer {
    grid-area: footer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: cornsilk;

    color: #87b9d6;
}

.creators {
    display: flex;
    justify-content: space-around;
    width: 80vh;
    margin: 5px;
}

.creator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme {
    font-weight: bold;
}

.aboutmelink {
    font-size: 0.75rem;
    padding: 2px;
}

.aboutmelink:hover {
    background-color: rgba(188, 194, 201, 0.466);
    border-radius: 5px;
    padding: 2px;
}

.copyright {
    display: flex;
    margin: 5px;
}

.copyright-year, .copyright-year a {
    font-size: 14px;
}

.copyright-year a:hover {
    color: yellowgreen;
}

.copyright-year a:active {
    color: rgb(123, 165, 39);
}


/* %%%%%%%%%%%%%%%%% MEDIA QUERIES  %%%%%%%%%%%%%%%%% */
/*
When page reaches 700px in width:
    - hide the sublist items in navbar
    - change size of main logo image
    - change text font sizes
*/
@media (max-width: 815px) {
    .mainPage {
        display: grid;
        grid-template-rows: 2fr 7fr 2fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    .first-image, .second-image, .third-image {
        margin: 35px;
        width: 400px;
        height: auto;
    }

    .slide-header {
        margin: 5px;
        font-size: 15px;
        font-weight: bold;
    }

    .slide-text {
        margin: 5px;
        font-size: 13px;
    }

    h1 {
        color: cornsilk;
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .first-image, .second-image, .third-image {
        margin: 25px;
        width: 300px;
        height: auto;
    }

    .slide-header {
        margin: 5px;
        font-size: 13px;
        font-weight: bold;
    }

    .slide-text {
        margin: 5px;
        font-size: 11px;
    }

    h1 {
        color: cornsilk;
        font-size: 20px;
    }

    .signup-btn {
        border: 1px solid #b2db83;
        padding: 10.5px 17.5px 10.5px 17.5px;
        border-radius: 5px;
        background-color: #b2db83;
        color: cornsilk;
        font-size: 13px;
        font-weight: bold;
    }

    .navbar-container {
        width: 70%
    }
}
