/* a {
    text-decoration: none;
}

h1 {
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #ffffff;
}

footer {
    margin-top: 0;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    padding: 50px 0;
    display: block;
}

.navbar {
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    position: fixed;
    position: -webkit-sticky;
    width: 100%;
    z-index: 99;
    top: 0;
    margin-bottom: -114px;
    background-color: #0060bf;
    border-color: rgba(0, 0, 0, 0.05);

}


.container {
    position: relative;
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.nav-logo {
    background-image: url('/images/gottalattedologo_coffee.png');
    background-repeat: no-repeat;
    background-size: 179px auto;
    width: 179px;
    height: 83px;
    display: inline-block;
    margin: 12px 0 12px 2px;
    position: relative;
    z-index: 2;
}

.navlist {
    font-size: 15px;
    margin-top: 42px;
    margin-right: 0;
    float: right !important;
    list-style: none;
}

.navlist > li {
    padding: 5px 18px;
    border-radius: 5px;
    opacity: .8;
    position: relative;
    display: block;
    float: left;
    font-size: 15px;
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
}

.navlist > li > a.btn {
    margin-left: 0px;
    border: 2px solid;
    margin-top: -5px;
    padding: 4px 11px;
    font-weight: 700 !important;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    position: relative;
    display: block;
    line-height: 22px;
    text-decoration: none;
}

.main {
    background-color: #0060bf;
    display: block;
    box-sizing: border-box;
}

.main-header {
    background-color: transparent;
    text-align: center;
    display: block;
    box-sizing: border-box;
}

.main-container {
    padding-bottom: 13px;
    padding: 52px 39px 53px;
    padding-bottom: 53px;
    background-position: 15px;
    width: 970px;
    margin-right: auto;
    margin-left: auto;
}

.hero-btn {
    padding: 11px 32px 12px;
    line-height: 1.2;
    border-radius: 4px;
    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    color: #fff;
    background-color: #d24b03;
    border-color: transparent;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
}

.main-content {
    width: 100%;
    padding: 0;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-sizing: border-box;
}


.main-article {
    padding: 0;
    display: block;
    box-sizing: border-box;
}


.hero-image {
    width: 1903px;
    text-align: center;
    color: #fff;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.inner-image {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    background-image: url('/images/front_image.png');
    background-repeat: no-repeat;
    background-size: 585px auto;
    width: 585px;
    height: 390px;
    margin: -47px 0 0 12px;
}

.hero-header {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin: 33px 20px 8px;
}

.hero-p {
    font-size: 20px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.85);
    margin: 0 auto 75px auto;
    max-width: 340px;
}

.footer {
    width: 970px;
    margin: auto;
}

.copyright {
    font-size: 13px;
    font-weight: bold;
    color: #898a92;
    display: inline-block;
    padding: 10px 4px 10px 10px;
    margin-left: 53px;
} */

/* %%%%%%%%%%%%%%%%% Main page grid layout  %%%%%%%%%%%%%%%%% */
a {
    text-decoration: none;
}

.mainPage {
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";

    height: 100vh;

    font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* %%%%%%%%%%%%%%%%% Navbar (header) layout  %%%%%%%%%%%%%%%%% */
.navbar {
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #8A715B;
    color: #FAECDA;
    padding: 5px;
    line-height: 20px;
    font-size: 15px;
}

.nav-logo-img {
    width: 100px;
    height: auto;
    margin: 15px;
    margin-left: 50px;
}

.navlist {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

/* Navbar items */
li {
    list-style: none;
    padding: 5px;
    margin: 10px;
}

/* Login navbar button  */
.btn-login {
    border: 1px solid #FAECDA;
    padding: 10px;
    border-radius: 5px;
}

.btn-login:hover {
    border: 1px solid #FAECDA;
    background-color: #FAECDA;
    color: #8A715B;
}

.btn-login:active {
    border: 1px solid #cab699;
    box-shadow: inset 0 0 10px #cab699;
}

/* Sign-up navbar button  */
.btn {
    border: 1px solid #FAECDA;
    padding: 10px;
    border-radius: 5px;
    background-color: #FAECDA;
    color: #8A715B;
}

.btn:hover {
    border: 1px solid #eddcc5;
    background-color: #eddcc5;
}

.btn:active {
    border: 1px solid #cab699;
    box-shadow: inset 0 0 10px #cab699;
}



/* %%%%%%%%%%%%%%%%% Main content layout  %%%%%%%%%%%%%%%%% */
.main {
    grid-area: main;
    background-color: #E0A979;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-image {
    margin: 75px 50px 50px 50px;
    width: 550px;
    height: auto;
}

.text-under-inner-img, .hero-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: cornsilk;
}

.hero-header {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.hero-p {
    margin: 5px;
    font-size: 18px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: cornsilk;
    font-size: 40px;
}

.hero-btn {
    border: 1px solid #B6CF88;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    background-color: #B6CF88;
    color: cornsilk;
    font-weight: bold;
}

.hero-btn:hover {
    border: 1px solid #99AD72;
    background-color: #99AD72;
}

.hero-btn:active {
    border: 1px solid #829462;
    box-shadow: inset 0 0 15px #829462;
}


/* %%%%%%%%%%%%%%%%% Footer layout  %%%%%%%%%%%%%%%%% */
.footer {
    grid-area: footer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #C7A383;
    color: #E8E8E8;
}
