body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
  margin: 0;
  padding: 0px;
}

h1 {
  font-family: MuseoSansRounded, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #ffffff;
}

h2, h3, h4, h5, h6, a, ol, li, ul, div, span, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}


.task-container {
  border: 2px solid red;
}
