/* %%%%%%%%%%%%%%%%% Main carousel layout  %%%%%%%%%%%%%%%%% */
.slides-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90%;
    /* width: 10%; */
    /* position: relative;
    overflow: hidden; */


    /* padding: 0;
    margin: 0; */
    transition: transform 0.75s ease-in-out;
}
/*
.slides-second-container {
    padding: 0;
    margin: 0;

    transition: transform 0.75s ease-in-out;
    position: relative;
    height: 100%;
} */

.first-slide, .second-slide, .third-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.first-image, .second-image, .third-image {
    /* position: absolute; */
    /* margin: 50px; */
    /* width: 500px; */
    width: 100%;
    height: auto;

}

.arrow-butts {
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    width: 65%;
    z-index: 2;

    display: flex;
    justify-content: space-between;
}

.left-button, .right-button {
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #FFF8DC;
    /* width: 50%; */
    height: auto;
    cursor: pointer;
}

/* .left-button {
    left: -15px;
}

.right-button {
    right: -15px;
} */

.circle-butts {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    /* width: 50%; */
    z-index: 2;
}

.circle {
    border-radius: 50px;
    border: none;
    margin: 5px;
    padding: 7px;
    background: rgba(255, 248, 220, 0.6);
    cursor: pointer;
}

.circle.currSlide {
    background: rgba(196, 190, 164, 0.8);
}

/* .hidden {
    color: transparent;
} */
